<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <style>
      .code { font-family: "Courier New"; font-weight: 600; }
    </style>
    <title>Yaqeen</title>
  </head>
  <body>
    <p>Dear {{email}},</p>
    <p>You have successfully registered
      <b>{{clinicName}}</b>
      with us. Please use the default password below to login. You may change
      the password later. To change the password, login into the app using the default password below. Then, click the ellipse menu (three vertical dots) and select "My account...".</p>
    <p class="{{fs}}"><span class="code">{{defaultPassword}}</span></p>
    <p>Open your mobile browser and login here {{url}}</p>
    <p>We hope you enjoy using our app!</p>
    <p>Thank you, <br /><b>Yaqeen team</b></p>
  </body>
</html>
